/*-------------- header -----------------------*/

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 60px;
    color: white;
    text-shadow: 0px 4px 4px black;
}

.fa-solid{
    color: white;
    text-decoration: none;
    text-shadow: 0px 4px 4px black;
    background-color: rgb(184, 88, 77);
    padding: 10px 10px;
    border-radius: 3px;
}

.banner{
     width: 100%;
}
.banner:hover{
    transform: rotateX(360deg);
    transition: 1s ease;
}

.container{
     display: flex;
     height: 677px;
     background-color: #253898;
}
.half-width{
     width: 50%;
     padding: 7%;
}


 /*--------------------------- main------------------- */
 
.section{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     /* margin-top: 5%;
     margin-left: 5%; */
     margin: 10%;
 }
.players{
     width: 330px;
     height: 474px;
     margin: 5%;
     padding: 4%;
     border-radius: 5px;
     background-color: #FFFFFF;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
.player-img{
     width: 300px;
     height: 256px;
     padding-left: 5%;
     padding-top: 5%;
 }
 .player-img:hover{
     transform: rotateY(360deg);
     transition: 2s;
 }



 /* ------------------footer --------------------*/


.football{
    width: 443px;
    height: 110px;
    display: block;
     margin-left: auto;
     margin-right: auto;
}
/* .football{
    width: 100%;
    width: 10px;
     width: 443px;
     height: 110px;
     margin-top: 10%;
     display: block;
     margin-left: auto;
     margin-right: auto;
} */

.icon{
    text-align: center;
}

.fa-brands{
     width: 45px;
     height: 32px;
     background-color: #d4cece;
     border-radius: 50%;
     margin: 2px;
     padding-top: 16px;
}